* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
li {
    list-style: none;
    color: #fff;
}
a {
    text-decoration: none;
}
.test {
    display: grid;
    grid-template-rows: repeat(2, 36%);
}
.container {
    display: none;
    overflow: hidden;
}
.list {
    background-color: #202123;
    width: 25%;
    height: 900px;
    overflow-y: scroll;
}
.content {
    background-color: #fff;
    width: 100%;
    height: 765px;
}
.sub-app {
    display: grid;
    grid-template-rows: repeat(2, 85%);
    width: 100%;
}
.sub-app-1 {
    display: flex;
    align-items: center;
    
}
.name {
    margin-left: 16px;
}
.container-input {
    margin-top: 82px;
}
.app {
    border-bottom: 1px solid #ebebeb;
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 35px;
    padding-bottom: 20px;
}
.sub-app {
    margin-left: 20px;
}
.text {
    color: #3578E5;
    background-color: #e7f3ff;
    border-radius: 999px;
    margin-top: 36px;
    padding: 10px;
    letter-spacing: 5px;
    line-height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 800;
    margin-bottom: 35px;
}
.sub-chat {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 800;
}
.sub-search {
    padding: 15px;
    border-radius: 999px;
    outline: none;
    border: none;
    padding-left: 88px;
}
.search {
    text-align: center;
    margin-top: 20px;
    padding: 5px;
}
.peoples {
    margin-left: 20px;
}
.element {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 5px;
    letter-spacing: 1px;
}
.app-input {
    bottom: 52%;
    left: 0;
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    
}
.input {
    width: 100%;
    border-radius: 999px;
    padding: 15px;
    outline: none;
    border: none;
    background-color: #f0f2f5;
}
.fas {
    padding: 15px;
    font-size: 1.5rem;
    color: #0084ff;
}
.show-chat {
    margin-top: 150px;
    width: 100%;
    margin-left: 22px;
    /* overflow: hidden; */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 73%;
    scroll-padding: 20px;
    scroll-behavior: smooth;
}
.mess {
    overflow: hidden;
    background-color: #e4e6eb;
    border-radius: 999px;
    text-align: center;
    margin: 5px 0;
    padding: 10px;
    display: inline-block;
    color: #050505;
    
}
.my-mess {
    overflow: hidden;
    background-color: #0084ff;
    border-radius: 999px;
    text-align: center;
    margin: 5px 0;
    padding: 10px;
    display: inline-block;
    color: #fff;
}
.other {
    overflow: hidden;
    background-color: #e4e6eb;
    border-radius: 999px;
    text-align: center;
    margin: 5px 0;
    padding: 10px;
    display: inline-block;
    color: #050505;
}
.icon-send {
    cursor: pointer;
    margin-left: 10px;
}
.icon-send:hover {
    background-color: #e4e6eb;
    border-radius: 999px;
    
}
.imageAvatar {
    width: 10%;
}
.image {
    border-radius: 99999px;
    height: 44px;
    width: 120%;
}
.selec-image {
    flex-basis: 100%;
}
.avatar-image {
    width: 15%;
    height: 50px;
    border-radius: 9999px;
}
.app-element {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
ul {
    margin-left: 10px;
}
.src {
    width: 3%;
    border-radius: 99999px;
    margin-right: 10px;
    height: 44px;
}
.ul {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


@media only screen and (max-width: 768px) {
   .container {
    flex-wrap: wrap;
   }
   .list {
    width: 100%;
    height: 100%;
   }
   .show-chat {
    margin-top: 50px;
   }
   .src {
    width: 13%;
   }
   .show-chat {
    height: 370px;
   }
   .content {
    height: 400px;
   }
   .sub-app {
    display: flex;
    flex-direction: column;
   }
   .container-input {
    padding-bottom: 20px;
   }
   .image {
    width: 136%;
   }
   .selec-image {
    flex-basis: 63%;
   }
   .name {
    margin-left: 22px;
   }
}
